include requirements.txt README.md README.ES.md LICENSE pmvcs/core/setup/languages/en.setup.ini pmvcs/core/setup/languages/es.setup.ini pmvcs/setup/config.ini  pmvcs/setup/defaults/languages/en.ini pmvcs/setup/defaults/languages/en.about.ini pmvcs/setup/defaults/languages/en.menus.ini pmvcs/setup/defaults/languages/es.ini pmvcs/setup/defaults/languages/es.about.ini pmvcs/setup/defaults/languages/es.menus.ini pmvcs/setup/example/languages/en.ini pmvcs/setup/defaults/languages/es.menus.ini pmvcs/setup/example/languages/en.menus.ini pmvcs/setup/defaults/languages/es.menus.ini pmvcs/setup/example/languages/en.sample.ini pmvcs/setup/defaults/languages/es.menus.ini pmvcs/setup/example/languages/es.ini pmvcs/setup/defaults/languages/es.menus.ini pmvcs/setup/example/languages/es.menus.ini pmvcs/setup/defaults/languages/es.menus.ini pmvcs/setup/example/languages/es.sample.ini
